наконецто сработала

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>наконецто сработала</title>
	<style>
		body{
			background: #000;
			color: #fff;
		}
		.content{
			background: #bab3b2ff;
			float: right;
			width: 49%;
			height: 800px;
		}
		.saidbar{
			background: #bab3b2ff;
			float: left;
			width: 40%;
			height: 800px;
		}
	</style>
</head>
<body>
	<div class="content"><p>наконецто сработала моя дибильная схема и я очень этому рад так что пака все хорошего дня  <span>и помните я лучший в мире веб и не только программист</span></p></div>
    <div class="saidbar">
    	content
    </div>


</body>
</html>